html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  overflow-y: auto; /* Active le scroll vertical */
}
