<app-navbar></app-navbar>

<div class="container mt-5">
  <h1 class="text-center mb-4">Vos favoris en un seul endroit !</h1>

  <!-- Barre de recherche -->
  <div class="mb-4">
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Rechercher un favoris..."
      (input)="searchRecipes($event)"
    />
  </div>

  <!-- Liste des recettes -->
  <div class="row">
    <div class="col-12">
      <h3>Mes favoris :</h3>
      <div *ngIf="recipes.length === 0" class="alert alert-info text-center">
        Aucun favoris enregistré. Essayez d'en rajouter !
      </div>

      <ul class="list-group">
        <li *ngFor="let recipe of filteredRecipes" class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5><a [routerLink]="['/recipe', recipe.id]" class="text-decoration-none text-primary">{{ recipe.name }}</a></h5>
              <p class="text-muted">{{ recipe.description | slice: 0:100 }}...</p>
            </div>
            <div>
              <!-- Cœur pour ajouter ou retirer des favoris -->
              <button
                class="btn btn-link text-danger"
                (click)="toggleFavorite(recipe)"
              >
                <i
                  class="fa-heart"
                  [ngClass]="{
                    'fas text-danger': isFavorite(recipe.id),
                    'far text-secondary': !isFavorite(recipe.id)
                  }"
                ></i>

              </button>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
