<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <img src="assets/images/welcome-image.jpg" alt="Bienvenue" class="img-fluid mb-4" style="max-width: 80%;">
    <h1>Bienvenue dans l'application</h1>
    <p class="mb-4">Veuillez choisir une option pour commencer</p>
    <div>
      <a href="/login" class="btn btn-primary btn-lg mx-2">Se connecter</a>
      <a href="/register" class="btn btn-secondary btn-lg mx-2">S'inscrire</a>
    </div>
  </div>
</div>
